body{
    display: flex;
    justify-content: center;
    height: 100vh;
}
.main{
    position: relative;
    width: 450px;
    height: 225px;
    background-color: red;
    margin: auto;   
    padding: 20px;
}

.top{
    background-color: white;
    width: 100%;
    height: 90px;
}
.middle{
    background-color: white;
    width: 100%;
    height: 70px;
    margin-top: 10px;
}
.lower{
    background-color: white;
    width: 100%;
    height: 50px;
    margin-top: 10px;
}
.topleft{
    padding: 10px;
}
.pimg{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: turquoise solid;
}